.mobile_nav, .open, .mobile_logo {
  display: none;
}

@media only screen and (max-width: 900px) {
  .mobile_navbar{
    display: flex;
    width: 100%;
    /* height: 30px; */
    background-color: #fff;
    align-items: center;
  }


  .mobile_logo{
    display: block;
    position: absolute;
    left: -3%;
    top: -7.33%;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    background: #310164;
    color: #fff;
    padding: 50px 30px;
    height: 100vh;
    width: 100%;
    z-index: 5;
    top: 0;
    transition: 0.3s ease-in;
    overflow: hidden;
  }

  .mobile_nav ul a {
    text-decoration: none;
  }

  .mobile_nav ul li {
    padding: 40px 0px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #fbb03b;
  }

  .open {
    display: block;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 30px;
    z-index: 10;
    color: #310164;
  }


  .close {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .mobile_navbar{
    display: flex;
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    align-items: center;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    background: #310164;
    color: #fff;
    padding: 50px 30px;
    height: 100vh;
    width: 100%;
    z-index: 5;
    top: 0;
    transition: 0.3s ease-in;
    overflow: hidden;
  }

  .mobile_nav ul a {
    text-decoration: none;
  }

  .mobile_nav ul li {
    padding: 40px 0px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #fbb03b;
  }

  .open {
    display: block;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 30px;
    z-index: 10;
    color: #310164;
  }

  .close {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 30px;
  }
}
